<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	 <staticContent>
                <remove fileExtension=".blat" />
                <remove fileExtension=".dat" />
                <remove fileExtension=".dll" />
                <remove fileExtension=".json" />
                <remove fileExtension=".wasm" />
                <remove fileExtension=".woff" />
                <remove fileExtension=".woff2" />
		<remove fileExtension=".ts" />
                <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
                <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
                <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
                <mimeMap fileExtension=".json" mimeType="application/json" />
                <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
                <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
                <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
		<mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
		<mimeMap fileExtension=".symbols" mimeType="text/plain" />
	 </staticContent>
         <httpCompression>
          	 <dynamicTypes>
                    <add mimeType="application/octet-stream" enabled="true" />
                    <add mimeType="application/wasm" enabled="true" />
          	 </dynamicTypes>
          </httpCompression>
    </system.webServer>
</configuration>